<div *ngIf="profile" class="user">
  <section class="img__wrapper">
    <!--<img src="{{ avatar }}" />-->
    <div [ngStyle]="{ 'background': avatar_url }"></div>
  </section>
  <section class="txt__wrapper">
    <h2><strong>{{ username }}</strong> {{ name }}</h2>
    <p *ngIf="discogs.identity.session">
      <em>Id</em> : {{ discogs.identity.session.id }}
    </p>
  </section>
  <span *ngIf="discogs.identity.author">
      <em>Author</em> : @<a href="https://twitter.com/max_perei" target="_blank">{{ discogs.identity.author }}</a>
    </span>
</div>