<header class="header">
  <nav role="navigation">
    <div class="nav__content">
      <h1>
        <a [routerLink]="['/']">
          <span class="logo_section">
            <img src="" alt="Disco Express" width="150" height="61">
          </span>
        </a>
      </h1>
      <ul class="nav__pages">
        <li *ngFor="let p of pages">
          <a routerLink="{{ p.link }}" routerLinkActive="active">{{ p.title }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
