<header class="header">
  <nav role="navigation">
    <div class="nav__content">
      <h1 class="logo">
        <a [routerLink]="['/identity']">
          <span class="ico__img"><img src="../assets/img/discogs_logo_white.svg" alt="DiscoXPress"></span><!--
          --><span class="ico__txt">XPress</span>
        </a>
      </h1>
      <ul class="nav__pages">
        <li *ngFor="let p of pages">
          <a routerLink="{{ p.link }}">{{ p.title }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>