header.header{
    font-family: 'Cousine', monospace;
    display: block;
    background-color: rgb(241, 241, 241);
    width: 260px;
}
.header nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 174px;
    height: 100%;
    background: #111;
    z-index: 10;
    overflow: hidden;
}
.header nav .nav__content{
    position: relative;
    width: 174px;
    height: 100%;
    letter-spacing: 0.075em;
}
.header nav .nav__content .nav__pages{
    position: relative;
    left: 0;
    top: 50vh;
    width: 100%;
    margin-top: -138px;
    font-size: 1rem;
    font-weight: bold;
}
.header nav .nav__content .nav__pages ul li a{
    color: white;
}
.header nav .nav__content .logo {
    font-size: 2em;
}

.header nav .nav__content .logo a {
    text-decoration: none;
}

.header nav .nav__content .logo a:hover,
.header nav .nav__content .logo a:focus {
    text-decoration: underline;
}

.header nav .nav__content .logo .ico__img,
.header nav .nav__content .logo .ico__txt {
    display: block;
    text-align: center;
}

.header nav .nav__content .logo .ico__img {
    padding: 0 15px;
}

.header nav .nav__content .logo .ico__txt {
    color: #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
}

main{
    margin-left: 174px;
    min-height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
