<main *ngIf="!ref">
  <div [class.loader]="!isLoaded"></div>
</main>
<main *ngIf="ref">
    <div *ngFor="let imgPpty of artw">
        <img [src]="imgPpty.uri" [width]="imgPpty.width" [height]="imgPpty.height" />
    </div>
    <pre>{{ title }}</pre>
    <pre *ngFor="let artist of artists">{{ artist.name }}</pre>
    <pre>{{ country }}</pre>
    <iframe *ngFor="let video of videos" class="player" frameborder="0" [src]="'http://youtube.com/embed/'+video.uri.split('v=')[1] | safe" webkitallowfullscreen mozallowfullscreen allowfullscreen> </iframe>
</main>