<div *ngIf="!library">
  <div [class.loader]="!isLoaded"></div>
</div>
<div *ngIf="library">
  <p>
    <div class="pagination">
      <ul class="pages">
        <li *ngFor="let p of createRange(pages)" (click)="pagination(p, pP)">
          {{ p }}
        </li>
      </ul>
      <select class="per_pages" required [(ngModel)]="model.pP" (change)="pagination(1, model.pP)">
        <option *ngFor="let pP of choice" [value]="pP">
          {{ pP }}
        </option>
      </select>
    </div>
  <hr class="clearfix">
  <section class="release__container">
    <article *ngFor="let release of library.releases.releases" class="release__item" (click)="getDetail(release.id);">
      <div class="img__wrapper toSquare">
        <img class="release__thumb" [src]="release.basic_information.thumb"/>
      </div>
      <br>
      <span *ngFor="let artist of release.basic_information.artists">
        {{artist.name}}
      </span> • <span>{{ release.basic_information.title }}</span>
    </article>
    <div class="clearfix"></div>
  </section>
</div>